<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<html>

<head>

	<style>

		body
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:10pt;
			font-family:Conga;
			font-weight:100;
		} /* end body def */

		.title
		{
			background:transparent;
			color:724647;
			/* Font styles: */
			font-size:20pt;
			font-family:Conga;
			font-weight:100;
		} /* end title */

		.titleFirst
		{
			background:transparent;
			color:724647;
			/* Font styles: */
			font-size:30pt;
			font-family:Conga;
			font-weight:100;
		} /* end title */

		.bodyWhite
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:18pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyWhite12
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:12pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyWhite10
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:10pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyWhiteSmall
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:7pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.footnoteRedSmall
		{
			background:transparent;
			color:red;
			/* Font styles: */
			font-size:7pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyWhiteSmallJustify
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyRedSmallJustify
		{
			background:transparent;
			color:red;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyGreenSmallJustify
		{
			background:transparent;
			color:#00FF00;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
		} /* end body def */

		.bodyWhiteTop
		{
			background:transparent;
			color:white;
                  position:absolute;
                  top=5%;
                  left=10%;
			/* Font styles: */
			font-size:25pt;
			font-family:Verdana,Arial;
			font-weight:100;
		} /* end body def */

		.bodyWhiteFirst
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:25pt;
			font-family:Conga;
			font-weight:100;
		} /* end body def */

		.bodyWhiteLeftJustified
		{
			background:transparent;
			color:white;
                  position:relative;
                  /* top=0%; */
                  /* left=0%; */
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
			/* Margins: */
			margin-left: 0%;
			margin-right: 60%;
			margin-top: 0%;
			margin-bottom: 0%;
		} /* end body def */

		.bodyWhiteLeft
		{
			background:transparent;
			color:white;
                  position:relative;
                  /* top=0%; */
                  /* left=0%; */
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:right;
			/* Margins: */
			margin-left: 0%;
			margin-right: 60%;
			margin-top: 0%;
			margin-bottom: 0%;
		} /* end body def */

		.bodyWhiteRight
		{
			background:transparent;
			color:white;
                  position:relative;
                  /* top=15%; */
                  /* left=50%; */
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:left;
			/* Margins: */
                  margin-left:30%; 
                  margin-right:20%;   
                  margin-top:0%; 
                  margin-bottom:0%;
		} /* end body def */

		.bodyWhiteRightJustified
		{
			background:transparent;
			color:white;
                  position:relative;
                  /* top=15%; */
                  /* left=50%; */
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
			text-align:justify;
			/* Margins: */
                  margin-left:30%; 
                  margin-right:20%;   
                  margin-top:0%; 
                  margin-bottom:0%;
		} /* end body def */

		.bodyBlack
		{
			background:transparent;
			color:black;
			/* Font styles: */
			font-size:15pt;
			font-family:Conga;
			font-weight:100;
		} /* end body def */

		.bodyBrown
		{
			background:transparent;
			color:AE5244;
			/* Font styles: */
			font-size:10pt;
			font-family:Conga;
			font-weight:100;
		} /* end body def */

		.backgroundTextGray
		{
			background:transparent;
			color:AAAAAA;
			/* Font styles: */
			font-family:Verdana,Arial;
			font-size:18pt;
			font-weight: bold;
			text-decoration:none;
			text-align:center;
			font-weight:100;
		} /* end background_Text */

		.backgroundTextBlack
		{
			background:transparent;
			color:black;
                  /* position:absolute; */
			/* Font styles: */
			font-family:Verdana,Arial;
			font-size:12pt;
			/* font-weight: bold;*/
			/* text-decoration:none; */
			text-align:left;
			/* font-weight:100; */
		} /* end background_Text */

		.backgroundTextWhite
		{
			background:transparent;
			color:292929;
                  position:absolute;
			/* Font styles: */
			font-family:Verdana,Arial;
			font-size:8pt;
			font-weight: 100;
			text-decoration:none;
			text-align:left;
			font-weight:100;
		} /* end background_Text */

		.backgroundText
		{
			background:transparent;
			color:A5756C;
                  position:absolute;
			/* Font styles: */
			font-family:Verdana,Arial;
			font-size:12pt;
			font-weight: 200;
			text-decoration:none;
			text-align:center;
		} /* end background_Text */

		.backgroundImage
		{
                position:absolute;
                top:0%;
                left:0%;
                width:100%;
                height:100%;
		} /* end background_Image */

		.linkText
		{
			background:transparent;
			color:724647;
			/* Font styles: */
			font-size:10pt;
			font-family:Comic Sans MS;
			font-weight:100;
		} /* end body def */

		.linkTextWhite
		{
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:10pt;
			font-family:Arial;
			font-weight:bold;
		} /* end body def */

		.leftLinkPosition
		{
                  position:absolute;
                  top:15%;
                  left:10%;
		} /* end body def */

		.rightTextPosition
		{
                  position:absolute;
                  top:2%;
                  left:10%;
		} /* end body def */

		.bottomTextPosition
		{
		} /* end body def */

		.previousPosition
		{
               position:absolute;
               top:95%;
               left:2%;
		} /* end body def */

		.nextPosition
		{
               position:absolute;
               top:95%;
               left:85%;
		} /* end body def */

		.bottomTextWhite
		{
			background:transparent;
                  position:absolute;
                  top:93%;
                  left:35%;
			color:white;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
                  text-align:center;
		} /* end body def */

		.bottomTextRed
		{
			background:transparent;
                  position:absolute;
                  top:95%;
                  left:35%;
			color:white;
			/* Font styles: */
			font-size:7pt;
			font-family:Verdana,Arial;
			font-weight:100;
                  text-align:center;
		} /* end body def */

            A:link
            {
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
                  text-decoration:none;
		} /* end body def */

            A:active
            {
			background:transparent;
			color:white;
			/* Font styles: */
			font-size:18pt;
			font-family:Verdana,Arial;
			font-weight:100;
                  text-decoration:none;
		} /* end body def */

            A:visited
            {
			background:transparent;
			color:gray;
			/* Font styles: */
			font-size:8pt;
			font-family:Verdana,Arial;
			font-weight:100;
                  text-decoration:none;
		} /* end body def */

            .symbol1
            {
               font-size:10.0pt;
               mso-bidi-font-size:12.0pt;
               font-family:Symbol;
               mso-ascii-font-family:Arial;
               mso-hansi-font-family:Arial;
               layout-grid-mode:line;
               mso-char-type:symbol;
               mso-symbol-font-family:Symbol;
            } /* end body def */

            .symbol2
            {
               mso-char-type:symbol;
               mso-symbol-font-family:Symbol;
            }

		<style type = "text/css">

		</style>



	</style>


</head>

</html>
